h1{
    font-family: Trebuchet;
    vertical-align: left;
    color: Black;
    font-size: 24px;
    line-height: 28px; 
}

h2{
    font-size: 18px;
    text-align: center;
}

#Login {
    margin-top: 20px;
    border-style: solid;
    border-color: white;
    background-color: white;
    border-width: 3px;
    border-radius: 8px;
    height: 35px;
    width: 1600px;
    margin-left: 90px;
}

#logininput1,
#logininput2,
#loginbutton,
h1,
p {
    display: inline;
}
#logininput1,
#logininput2,{
    font-size: 15px;
}
#loginbutton{
    background-color: #0ea2bd;
    border: none;
    font-size: 12px;
    color: white;
}
#loginbutton:hover {
    background-color: #0b6a7b;
    color: white;
}

#Highscore {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: left;
    color: #2c3e50;
    margin-top: 15px;
    margin-left: 90px;
    border-style: inset;
    border-width: 3px;
    border-radius: 10px;
    background-color: white;
    height: 520px;
    width: 15%;
    float: left;
}

#Online {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: left;
    color: #2c3e50;
    background-color: white;
    margin-top: -162px;
    margin-right: 210px;
    border-style: inset;
    border-width: 3px;
    border-radius: 10px;
    height: 520px;
    width: 15%; 
    float: right;
}

#Chat {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   text-align: center;
   color: #2c3e50;
   margin-top: 20px;
   margin-left: 90px;
   border-style: inset;
   float: left;
   height: 300px;
   width: 84%; 
} 
#chatinput,
#chatbutton{
     display: inline;
     border: 0; 
     padding: 10px; 
     margin-right: .5%;
     font-size: 15px;
}
#chatinput{
   width: 90%; 
   text-align: left;
   color: #000000;
   margin-top: 250px;
   background-color:#F5F5F5;
}
#chatbutton{
   width: 5%; 
   color: white;
   text-align: center;
   margin-top: 250px;
   background-color: #0ea2bd;
}
#chatbutton:hover {
     background-color: #0b6a7b;
     color: white;
}
